{% extends 'base.html' %}
{% load static %}

{% block title %}
Expenses
{% endblock title %}

{% block content %}
<main>
    <h1>My Receipts</h1>
        {% if user.is_authenticated %}
        <a href="{% url 'create_category' %}">Create Category</a>
        <a href="{% url 'create_account' %}">Create Account</a>
        {% endif %}
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipts %}
            <tr>
                <td>{{ receipt.vendor }}</td>
                <td>{{ receipt.total }}</td>
                <td>{{ receipt.tax }}</td>
                <td>{{ receipt.date|date:"m/d/y" }}</td>
                <td><a href="{% url 'categories' %}">{{ receipt.category.name }}</a></td>
                <td><a href="{% url 'account_list' %}">{{ receipt.account.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
